<div class="jumbotron">
  <h1 class="title"> 今天是个好天气 </h1>
  <p class="slogan"> 天气好 心情爽 !
  <br>
  我希望天天都有这样的好天气啦
  <br>
  但是 我知道 天气是随着春夏秋冬而变化的
  </p>
  <p class="lead"><a href="/jobs" class="btn btn-danger">外面的世界</a></p>
</div>


<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-31.png" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h3>深圳宝安区SOHO</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-48.png" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h3>info20koffer.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-44-00.png" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>010-1234432109</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
